report/
puzzles/
data/*/advent_of_sql*.sql
data/*/*.parquet
output.txt
output.*.txt
message*.txt

Makefile
timings.*.md
stats.md

aosql_template.*
README.template
download_input.py

__pycache__
.python-version
*.egg-info/

.envrc
.vscode
